[api-server]
k8s-api-01 ansible_host=192.168.1.11
k8s-api-02 ansible_host=192.168.1.12

[master]
k8s-master-01 ansible_host=192.168.1.21
k8s-master-02 ansible_host=192.168.1.22
k8s-master-03 ansible_host=192.168.1.23
k8s-master-04 ansible_host=192.168.1.24
k8s-master-05 ansible_host=192.168.1.25

[worker]
k8s-worker-01 ansible_host=192.168.1.31
k8s-worker-02 ansible_host=192.168.1.32
k8s-worker-03 ansible_host=192.168.1.33
k8s-worker-04 ansible_host=192.168.1.34
k8s-worker-05 ansible_host=192.168.1.35
k8s-worker-06 ansible_host=192.168.1.36
k8s-worker-07 ansible_host=192.168.1.37
k8s-worker-08 ansible_host=192.168.1.38
k8s-worker-09 ansible_host=192.168.1.39
k8s-worker-10 ansible_host=192.168.1.40

[all:vars]
ansible_user=root
ansible_ssh_private_key_file=~/.ssh/id_rsa
ansible_python_interpreter=/usr/bin/python3

